<div><strong>{{ solicitud.responsable_rev()[0] }}</strong></div>
<div><strong>{{ solicitud.responsable_rev()[1] }}</strong></div>
<div><strong>UNAM, ENES Juriquilla</strong></div>

<p>
    El motivo de la presente es solicitar autorización para ausentarme de mis labores académicas, acorde al Estatuto del Personal Académico de la UNAM vigente, conforme al artículo {{ solicitud.articulo()[0] }} inciso {{ solicitud.articulo()[1] }}.<br>
    <br>
    
    {% if solicitud.ctlc_presentacion == "Organización" %}
    El objetivo es participar como organizador en el {{ solicitud.ctlc_tipoevento }} en {{solicitud.ctlc_dependencia}} de {{solicitud.ctlc_institucion}} en {{solicitud.ctlc_estado}}, {{solicitud.ctlc_pais}}.
    {% else %}
    El objetivo es participar en {{ solicitud.ctlc_tipoevento }}, presentaré el trabajo titulado  <b> {{ solicitud.ctlc_titulo }} </b> en {{solicitud.ctlc_dependencia}} de {{solicitud.ctlc_institucion}} en {{solicitud.ctlc_estado}}, {{solicitud.ctlc_pais}}.
    {% endif %} 

    El período de licencia será de {{solicitud.ctlc_dias}} días, iniciando el {{solicitud.fecha_valida(solicitud.ctlc_periodoinicio)}} y finalizando {{solicitud.fecha_valida(solicitud.ctlc_periodofinal)}}.<br>
    <br>

    
    {% if solicitud.ctlc_sustitucionclases %}
    <i>{{ solicitud.ctlc_sustitucionclases }}</i>.<br>
    <br>
    {% endif %}
    
    {% if solicitud.ctlc_apoyo == True %}
        {% if solicitud.ctlc_origen_apoyo == "No se requiere apoyo" %}
            Para realizar dicha licencia no se requiere apoyo económico.
        {% elif solicitud.ctlc_origen_apoyo == "ENES Juriquilla" %}
            Para realizar dicha licencia solicito el apoyo económico de la ENES Juriquilla para solventar los gastos, los cuales ascienden a {{ solicitud.ctlc_catidad_apoyo }} M.N.
        {% elif solicitud.ctlc_origen_apoyo == "CONACYT" or solicitud.ctlc_origen_apoyo == "PAPIIT" or solicitud.ctlc_origen_apoyo == "PAPIME" %}
            Para realizar dicha licencia se utilizará apoyo económico de {{solicitud.ctlc_origen_apoyo}} mediante el proyecto {{solicitud.ctlc_numero_proyecto}}, para solventar los gastos de transporte/viáticos, los cuales ascienden a {{ solicitud.ctlc_catidad_apoyo }} M.N.
        {% else %}
            Para realizar dicha licencia se utilizaran recursos económicos de {{solicitud.ctlc_origen_apoyo}}, los cuales ascienden a {{ solicitud.ctlc_catidad_apoyo }} M.N.
        {% endif %}
    <br>
    <br>
    {% endif %}

    Asimismo, adjunto la documentación correspondiente.

</p> 

<p>  
  Sin más de momento, agradezco su atención y le envío un cordial saludo.
</p>
<br>
<div><strong>{{ profesor.genero_grado() }}</strong></div>
<div><strong>{{ profesor.nombramiento() }}</strong></div>
<div><strong>{{ profesor.email() }}</strong></div>
<div><strong>Teléfono: {{ profesor.cepr_telefono}}</strong></div>
<div><strong>UNAM, ENES Juriquilla</strong></div>
<br>
<br>
<div><strong>INSTRUCCIONES</strong></div>
<p>
  Para poder dictaminar la solicitud se tienen dos opciones:
</p>
    Sistema Integral de Información Académica Juriquilla (SIIAJ)
    <ul>
      <li> Iniciar sesión en el SIIAJ (<a href="http://siiaj.enesjuriquilla.unam.mx/login">Enlace</a>)</li>
      <li> Ir al menú <b>Licencias y Comisiones</b></li>
      <li> Identificar la solicitud con el <b>folio {{solicitud.ctlc_id}}</b></li>
      <li> Seleccionar la opción <b>Dictaminar</b> y clic en <b>Actualizar</b></li>
    </ul>
<br>
<br>
<br>
<div><strong>
  Este mensaje de correo es generado automáticamente por el sistema por lo que no es necesario responderlo. Los mensajes enviados a esta dirección  de correo no serán respondidos. Dudas respecto a la solicitud, favor de acudir a la dirección de correo electrónico {{ current_user.pgus_email }}
</strong></div>
